:root {
	--content_color_base: #a7faff;
	--content_color_top: #8d94b8;
	--containter_color: #fff;
	--font_light_color: #ac6ab1;
	--font_dark_color: #301b32;
	--background_color: #b8b8b8;
}

html {
	height: 100%;
	width: 100%;
	font-size: 15px;
}

body {
	background: var(--background_color);
	margin: 0;
	padding: 0;
	height: 100%;
}

#app {
	height: 100%;
}
